<div class="page-header">
  <h2>🔍 Catálogo de Productos</h2>
  <div class="actions">
    <input type="text" placeholder="¿Qué deseas buscar hoy?" class="search-bar">
  </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Categoría</th>
        <th style="text-align: center;">Acciones</th>
      </tr>
    </thead>
    
    <tbody>
      @for (prod of productos; track prod.id) {
        <tr>
          <td style="color: #64748b;">#{{ prod.id }}</td>
          
          <td class="fw-bold" style="font-size: 1.1rem;">
            {{ prod.nombre }}
          </td>
          
          <td>
            <span class="badge category">{{ prod.categoria }}</span>
          </td>
          
          <td style="text-align: center;">
            <button class="btn-locate">
              📍 Ver Tiendas
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="empty-state">
            <p>📡 Esperando respuesta del servidor...</p>
            <small>Conectando a http://10.251.232.62:8080/...</small>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>