<div class="login-container">
  <div class="login-card">
    <h2>🔐 LocalizeStock</h2>
    <p>Acceso al sistema administrativo</p>
    
    <div class="form-group">
      <label>Usuario</label>
      <input type="text" #user placeholder="admin" />
    </div>
    
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" #pass placeholder="1234" />
    </div>

    <button (click)="onLogin(user.value, pass.value)">Ingresar</button>
    
    @if (errorMsg) {
      <p class="error">{{ errorMsg }}</p>
    }
  </div>
</div>